#socialLinks{
    
    & a{
        display:flex;
        justify-content:center;
        align-items:center;

        padding: 24px;
        gap: 16px;
        font-size: 24px;

        & {
            text-decoration: none;
        }
    }
}